{% extends 'Base.html' %}


{% block content %}
<title>About</title>



<!-- Page Content -->
<div class="container">
    <h1 class="font-weight-light text-Black">Meet the Team</h1>
    <br><br>
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="./../static/mainapp/images/team/1.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque, ligula at fermentum dapibus, arcu diam gravida dolor, at molestie purus sem in dolor. Etiam id est vitae arcu commodo varius vitae mollis orci. Morbi id nulla est. Vivamus finibus quis lacus non auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi eget tellus ullamcorper efficitur. Duis augue est, blandit at blandit quis, luctus eu lorem.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="./../static/mainapp/images/team/2.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque, ligula at fermentum dapibus, arcu diam gravida dolor, at molestie purus sem in dolor. Etiam id est vitae arcu commodo varius vitae mollis orci. Morbi id nulla est. Vivamus finibus quis lacus non auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi eget tellus ullamcorper efficitur. Duis augue est, blandit at blandit quis, luctus eu lorem.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="./../static/mainapp/images/team/2.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque, ligula at fermentum dapibus, arcu diam gravida dolor, at molestie purus sem in dolor. Etiam id est vitae arcu commodo varius vitae mollis orci. Morbi id nulla est. Vivamus finibus quis lacus non auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi eget tellus ullamcorper efficitur. Duis augue est, blandit at blandit quis, luctus eu lorem.</div>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="./../static/mainapp/images/team/3.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Team Member</h5>
            <div class="card-text text-black-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque, ligula at fermentum dapibus, arcu diam gravida dolor, at molestie purus sem in dolor. Etiam id est vitae arcu commodo varius vitae mollis orci. Morbi id nulla est. Vivamus finibus quis lacus non auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in nisi eget tellus ullamcorper efficitur. Duis augue est, blandit at blandit quis, luctus eu lorem.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
{% endblock content %}