<!DOCTYPE html5>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename = 'static/mainapp/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename ='static/mainapp/css/customfont.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename ='static/mainapp/css/custompage.min.css') }}" rel="stylesheet" type="text/css">

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="username" class="form-control" placeholder="username"
                                required="required" autofocus="autofocus" name="username" />
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="password" class="form-control" placeholder="Password"
                                required="required" name="password" />
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>
                        </div>
                    </div> -->
                    <!-- <a class="btn btn-primary btn-block" href="index.html">Login</a> -->
                    <button type="submit" class="btn btn-primary btn-block" id="submit">Login</button>
                </form>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="text-center">
                    <a class="d-block small mt-3" href="{{ url_for( 'signup') }}">Register an Account</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename = 'static/mainapp/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'static/mainapp/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename = 'static/mainapp/js/jquery.easing.min.js') }}"></script>

</body>

</html>