{% extends 'Base.html' %}


{% block content %}
<div class="container-fluid">
    <title>Predict</title>
    <h1 class="align-content-center">Sign Prediction Demonstration</h1>
      <div id="screenshot" style="text-align:center;">
  
      <div id="myCanvas" class="container" style=""> 
          <div class="row">
              <!-- Team Member 1 -->
              <div class="col-" id="out">  
                  <div id="overlay" style="
                    border: 2px solid black;
                    opacity: 1;
                    width: 200px;
                    height: 200px;
                    position: absolute;
                "></div>
                  <video autoplay id="vidtag"></video>
                  <div id="overlay1"></div>
              </div>

              <div class="col-"> 
                  <img src="" width="320" height="240" id="imageTag">
              </div>
          </div>
          
      </div>
      <canvas style="display:none;"></canvas>
      <button type="button" class="capture-button btn btn-success">Start Video</button>
      <button type="button" id="screenshot-button" class="btn btn-primary">Predict</button>
      <button type="button" class="stop-capture-button btn btn-danger">Stop Video</button>

      <p id="result"></p>
    </div>
</div>

{% endblock content %}

{% block tail_js %}
<!-- <script src="{{ url_for('static', filename = 'mainapp/jquery/jquery.min.js') }}"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  const constraints = {
    video: {width: {min: 640}, height: {min: 480}} 
};



$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  const captureVideoButton = document.querySelector('#screenshot .capture-button');
  const stopCaptureVideoButton = document.querySelector('#screenshot .stop-capture-button');
  const screenshotButton = document.querySelector('#screenshot-button');
  const img = document.querySelector('#screenshot #myCanvas img');
  const video = document.querySelector('#screenshot video');
  const overlay = document.querySelector('#screenshot #myCanvas');

  const canvas = document.createElement('canvas');

  captureVideoButton.onclick = function() {
    navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);

  };
  stopCaptureVideoButton.onclick = function() {
    video.pause();

  };
  


  function handleSuccess(stream) {
    screenshotButton.disabled = false;
    video.srcObject = stream;
    $('.stop-capture-button').click(function () {
      stream.getTracks().forEach(function(track) { track.stop();
        video.src = null ; 
        location.reload(true);})
  });
    //overlay.setAttribute("style", "display: block; margin: 30px; background-color: #ffffff; width: 100px; height: 100px; top: 100px; left: 100px; border: 1px solid black; opacity: 0.0; filter: alpha(opacity=60);");
    //video.setAttribute("style", "display: inline; position: fixed; display: none; width: 100px; height: 100px; top: 100px; left: 100px; border: 1px solid black; background-color: rgba(0,0,0,0); z-index: 2; cursor: pointer;");
  }
  
  function handleError(err) { 
    console.log(err.name + ": " + err.message); 
  }
  

  $(function() {
    $('#imageTag').hide();
    $('#screenshot-button').click(function() {
      $('#imageTag').show();
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext('2d').drawImage(video, 0, 0);
      // Other browsers will fall back to image/png
      img.src = canvas.toDataURL('image/jpeg');
        $.ajax({
          url: $SCRIPT_ROOT + '/predict/move_forward',
          type: 'POST',
          dataType: 'json',
          data: img.src,
          complete: function(xhr, textStatus) {
          // Request complete.
          },
          // Request was successful.
          success: function(response, textStatus, xhr) {
            console.log('Word: ', response.PredMessage + ' (Score:' + response.PredScore + ')');
            $("#result").text('Prediction Word: ' + response.PredMessage + ' (Score: '+ response.PredScore + ')');
            $('#imageTag').hide();
            // Conversion successful.
          },
          error: function(xhr, textStatus, errorThrown) {
            // Some error occured.
            console.log('Error: ', errorThrown);
          }
        });  
        return false;

    });
});
</script>
{% endblock %}